extends layout

block content
    div.container
        h1 Stats for hash
        div.row
            form(method="post", class='form-inline')
                div.form-group
                    label(for='statsForUrl') Stats for hash
                    input(type='text', name='hash', class='form-control', id='statsForUrl', placeholder="http://www.gofore.com")
                button(type='submit', class="btn btn-default") Stats
        div.row
            each url in urls
                dl.dl-horizontal
                    dt
                        a(href=url.url)= url.url
                    dd
                        a(href='/stats/'+ url.hash)= url.hash
    if stats
        div.row
            dl.dl-horizontal
                dt
                    span Hash
                dd
                    span= stats.hash
                dt
                    span URL
                dd
                    span= stats.url
                dt
                    span Saves
                dd
                    span= stats.saves